<div class="contenedor-footer">
   <div class=footer>
      <div class="footer-primary">
       <div class="footer-icons">
         <a href="#"><span style="font-size: 3em; color: white;"><i class="fab fa-facebook-square"></i> </span></a>
         <a href="#"><span style="font-size: 3em; color: white;"><i class="fab fa-google-plus-g"></i></span></a>
         <a href="#"><span style="font-size: 3em; color: white;"><i class="fab fa-linkedin"></i></span></a>
         <a href="#"><span style="font-size: 3em; color: white;"><i class="fab fa-github"></i></span></a>
        </div>
        <p>Todos los derechos reservados 2021</p>
      </div>
       <div class="footer-fondo">
          <p>Sitio web implementado con Angular @fontawesome por Jose Alfredo Nuñez Aguirre</p>
       </div> 
   </div>

</div>

