
    <div [@Contenido] id="About">
        <div class="contenedor-img">
            <img src="https://res.cloudinary.com/drqewsbya/image/upload/v1616061094/1615907449742_bsyqev.jpg" alt="">
        </div>
        <div class="contenedor-info">
            <h1>Soy Jose Alfredo Nuñez Aguirre</h1>
            
            <p>El objetivo de este sitio web, es mostrar el resultado de el proceso de desarrollo de este mismo sitio
                mediante la metodología
                CASCADA </p>
            <br/>
            
            <p>Correo: <a href="mailto:">alfredgua43@gmail.com</a></p>
            Repositorio gitHub:<a href="https://github.com/AlfredZ12/WebIsw/" style="text-decoration: none;">
                <p>https://github.com/AlfredZ12/WebIsw/</p>
            </a>
            
        </div>


    </div>
