<nav class="nav-bar">
    <div class="contenedor-icon">
        <a routerLink="/"><img src="./assets/icons/metodos.svg" alt=""></a>
    </div>
    <ul class="nav-btns">
        <a routerLink="/Contenido"><li id =item class="btn btn-secondary"><span><b>Contenido</b></span></li></a>
        <a routerLink="/"><li id =item class="btn btn-secondary"><span><b>Equipo</b></span></li></a>
       <a routerLink="#"> <li id =item class="btn btn-primary"><span><b>Contacto</b></span></li></a>
    </ul>
    
</nav>