<div class="contenedor-index">
    <div class="contenedor-background">
        <div class="contenedor-txt">
            <h1>Metodologías<p >de Desarrollo de Software</p> </h1>
        </div>
        
        <img src="../../assets/images/img.ong.jpg" alt="">
       
    </div>
    <div class="contenedor-tarjeta">
    <div class="tarjeta">
      <h1>Conoce</h1><p>Acerca de las caracteristicas y funciones de cada Metodología de desarrollo de Software</p><br/><h3>¿Qué son?</h3><br/>
   <p> Son diferente formas de trabajo, en la que se estructura, planifica el control del proceso de desarrollo. Existe una gran variedad de métodos. </p>
      <a routerLink="/Contenido" style="text-decoration: none;"> <li id =item class="btn btn-primary sg"><span><b>Contenido</b></span></li></a>
    </div>
</div>
</div>

